## Facilitator

Ali Haider - Technical Lead - GDSC Iowa State University

### Links

- LinkedIn: https://www.linkedin.com/in/m-ali-haider/
- Email: mhaider@iastate.edu
- Github: https://github.com/allihaider
- Medium: https://medium.com/@m.allihaider


---

## Topics

1. Basics
1. Python Data Structures
1. Control Flow Statements
1. Functions
1. Classes

## Basics

### Data Types

- Integers: `1, 2, 3`
- Floats: `1.0, 10.5, 47.7`
- Booleans: `True, False`
- Strings: `"This is a string"`

### Variables

In [10]:
counter = 0
x = False
day_of_week = "Wednesday"

### Print statements

In [11]:
print("Hello, world!")

Hello, world!

In [12]:
print(f"Today is {day_of_week}")

Today is Wednesday

### Comments

In [ ]:
# This is a comment

'''
This is
a multiline
comment
'''

## Data Structures

### Lists

In [30]:
# Creation
my_list = [7, 1, 9, 3, 11]

print(my_list)

[7, 1, 9, 3, 11]

In [31]:
# Adding an Element
my_list.append(4)
my_list.insert(0, 1)

print(my_list)

[1, 7, 1, 9, 3, 11, 4]

In [32]:
# Deleting an Element
my_list.remove(4)

print(my_list)

[1, 7, 1, 9, 3, 11]

In [33]:
# Accessing an Element
print(my_list[2])

1

In [34]:
my_numbers = [7, 1, 9, 3, 5, 11]

print(my_numbers[1:3])

[1, 9]

In [35]:
# Convenience functions
sorted(my_numbers)

[1, 3, 5, 7, 9, 11]

In [36]:
sum(my_numbers)

36

In [37]:
max(my_numbers)

11

In [38]:
min(my_numbers)

1

### Dictionary

In [39]:
# Creation
my_dictionary = {"Monday": 1, "Tuesday": 2}
print(my_dictionary)

{'Monday': 1, 'Tuesday': 2}

In [40]:
# Adding an Element
my_dictionary["Wednesday"] = 3
print(my_dictionary)

{'Monday': 1, 'Tuesday': 2, 'Wednesday': 3}

In [41]:
# Deleting an Element
del my_dictionary["Wednesday"]
print(my_dictionary)

{'Monday': 1, 'Tuesday': 2}

In [42]:
# Accessing an Element
print(my_dictionary["Monday"])

1

### Tuples

In [43]:
#Creation
my_tuple = (6, 7, 8)
print(my_tuple)

(6, 7, 8)

In [44]:
#Accessing an Element
my_tuple[0]

6

In [47]:
# my_tuple[0] = 11

### Sets

In [48]:
# Creation
my_set = {6, 7, 8}
print(my_set)

{8, 6, 7}

In [49]:
# Checking if an element exists in set
6 in my_set

True

In [60]:
# Set operations

In [61]:
another_set = {7, 8, 9}

In [62]:
my_set.union(another_set)

{6, 7, 8, 9}

In [63]:
another_set - my_set

{9}

## Control flow

### Regular for loops

In [64]:
primes = [1, 3, 5, 7, 11]

for number in primes:
  print(number)

1
3
5
7
11

### For loops based on indices

In [67]:
for i in range(5):
  print(primes[i])

1
3
5
7
11

### Using the enumerate function

In [68]:
for i, number in enumerate(primes):
  print(i, number)

0 1
1 3
2 5
3 7
4 11

### While loop

In [69]:
counter = 0

while counter < 5:
  counter += 1
  print(counter)

1
2
3
4
5

### If Elif Else

In [70]:
day = "Monday"

if day == "Sunday":
  print("Sunday")
elif day == "Saturday":
  print("Saturday")
else:
  print("Weekday")

Weekday

## Functions

In [71]:
def add(num_1, num_2):
  num_sum = num_1 + num_2
  return num_sum

total = add(5, 11)
print(total)

16

In [72]:
# with type hinting
def add(num_1: int, num_2: int) -> int:
  num_sum = num_1 + num_2
  return num_sum

In [75]:
def add(num_1, num_2 = 7):
  num_sum = num_1 + num_2
  return num_sum

In [78]:
add(6)

13

In [80]:
add(8, 8)

16

In [85]:
add = lambda num_1, num_2 : num_1 + num_2
add(5, 11)

16

## Classes

In [94]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def say_name(self):
    print(self.name)

person = Person("John", 22)
person.say_name()

John

In [95]:
print(person)

<__main__.Person object at 0x7f1cf3827990>

In [98]:
from dataclasses import dataclass

@dataclass
class Person:
  name : str
  age: int

  # __init__ method is done in the background!

  def say_name(self):
    return self.name

person = Person("John", 22)
person.say_name()

'John'

In [99]:
print(person)

Person(name='John', age=22)

## Time to test your knowledge!

### Question 1 - Functions

You're a home decorator, and you'd like to use Python to streamline some of your work.  Specifically, you're creating a tool that you intend to use to calculate the cost of painting a room.

As a first step, define a function `get_cost()` that takes as input:
- `sqft_walls` = total square feet of walls to be painted
- `sqft_ceiling` = square feet of ceiling to be painted
- `sqft_per_gallon` = number of square feet that you can cover with one gallon of paint
- `cost_per_gallon` = cost (in dollars) of one gallon of paint

It should return the cost (in dollars) of putting one coat of paint on all walls and the ceiling.

In [105]:
# get_cost(50, 50, 10, 5)

### Question 2 - Conditionals

You work at a college admissions office.  When inspecting a dataset of college applicants, you notice that some students have represented their grades with letters (`"A"`, `"B"`, `"C"`, `"D"`, `"F"`), whereas others have represented their grades with a number between 0 and 100.

You realize that for consistency, all of the grades should be formatted in the same way, and you decide to format them all as letters.  For the conversion, you decide to assign:
- `"A"` - any grade 90-100, inclusive
- `"B"` - any grade 80-89, inclusive
- `"C"` - any grade 70-79, inclusive
- `"D"` - any grade 60-69, inclusive
- `"F"` - any grade <60

Write a function `get_grade()` that takes as input:
- `score` - an integer 0-100 corresponding to a numerical grade

In [112]:
# get_grade(100)

In [113]:
# get_grade(75)

### Question 3 - Lists

The list `num_customers` contains the number of customers who came into your restaurant every day over the last month (which lasted thirty days).  Fill in values for each of the following:
- `avg_first_seven` - average number of customers who visited in the first seven days
- `avg_last_seven` - average number of customers who visited in the last seven days
- `max_month` - number of customers on the day that got the most customers in the last month
- `min_month` - number of customers on the day that got the least customers in the last month

Answer this question by writing code.  For instance, if you have to find the minimum value in a list, use `min()` instead of scanning for the smallest value and directly filling in a number.

In [114]:
# Do not change: Number of customers each day for the last month
num_customers = [137, 147, 135, 128, 170, 174, 165, 146, 126, 159,
                 141, 148, 132, 147, 168, 153, 170, 161, 148, 152,
                 141, 151, 131, 149, 164, 163, 143, 143, 166, 171]

In [146]:
# TODO: Fill in values for the variables below
# avg_first_seven = 
# print(avg_first_seven)

In [147]:
# avg_last_seven = 
# print(avg_last_seven)

In [148]:
# max_month = 
# print(max_month)

In [149]:
# min_month = 
# print(min_month)

## What's next?

- Kaggle course: https://www.kaggle.com/learn/python
- Python roadmap: https://roadmap.sh/python
- Python style guide: https://peps.python.org/pep-0008/


## Next session on Wednesday, 26th of October 
- Basic Machine Learning concepts

## Future sessions	
- Data analysis with Pandas
- Intermediate machine learning